body,
html {
    height: 100%;
}
body {
    overflow: hidden;
    
}
.nofocus:focus {
    background-color: #115566 !important;
    color: white !important;
}
.nofocus:focus {
    outline: 0 !important;

    box-shadow: 0 0 0 0.2rem #115566,
        /* use site bg color to create whitespace for faux focus ring */ 0 0 0
            0.35rem #115566 !important; /* faux focus ring color */
}